In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('all_energy_statistics.csv')

In [3]:
pd.set_option('display.max_rows', 500)

In [4]:
data

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates
...,...,...,...,...,...,...,...
1189477,Viet Nam,Electricity - total wind production,2012,"Kilowatt-hours, million",92.0,1.0,wind_electricity
1189478,Viet Nam,Electricity - total wind production,2011,"Kilowatt-hours, million",87.0,NaN,wind_electricity
1189479,Viet Nam,Electricity - total wind production,2010,"Kilowatt-hours, million",50.0,NaN,wind_electricity
1189480,Viet Nam,Electricity - total wind production,2009,"Kilowatt-hours, million",10.0,NaN,wind_electricity
1189481,Viet Nam,Electricity - total wind production,2008,"Kilowatt-hours, million",1.0,NaN,wind_electricity

In [5]:
#Przeszukuję dane pod kątem jakichś podejrzanych wartości/braków itd

data.sample(10)

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
107321,United States,Brown coal - Consumption by non-metallic miner...,2000,"Metric tons, thousand",663.000,NaN,brown_coal
70163,Neth. Antilles (former),Bitumen - Non-energy uses,2002,"Metric tons, thousand",6.000,NaN,bitumen
810904,Brazil,Natural gas (including LNG) - extraction loss ...,1996,Terajoules,46091.000,NaN,natural_gas_including_lng
1090118,Egypt,Electricity - exports,2004,"Kilowatt-hours, million",873.000,NaN,total_electricity
1124522,American Samoa,"Electricity - Own use by electricity, heat and...",2002,"Kilowatt-hours, million",8.600,NaN,total_electricity
588672,Bermuda,Kerosene-type Jet Fuel - Imports,1997,"Metric tons, thousand",16.000,1.0,kerosene_type_jet_fuel
844922,United States,Natural Gas (including LNG) - transformation i...,1992,Terajoules,2871082.000,NaN,natural_gas_including_lng
356102,Neth. Antilles (former),Fuelwood - Final consumption,2005,"Cubic metres, thousand",1.891,1.0,fuelwood
467911,Belarus,Gas Oil/ Diesel Oil - Transfers and recycled p...,2011,"Metric tons, thousand",1886.000,NaN,gas_oil_diesel_oil
856861,Czechia,Of which: biodiesel - Final consumption,1999,"Metric tons, thousand",51.000,NaN,of_which_biodiesel

In [6]:
# Sprawdzam jakie są kraje
data['country_or_area'].unique()

array(['Austria', 'Belgium', 'Czechia', 'Finland', 'France', 'Greece',
       'Hungary', 'Italy', 'Korea, Republic of', 'Netherlands', 'Romania',
       'Serbia', 'Slovakia', 'Ukraine', 'United Kingdom', 'United States',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'Croatia',
       'Iran (Islamic Rep. of)', 'Jordan', 'Lithuania', 'Mexico', 'Oman',
       'Other Asia', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'T.F.Yug.Rep. Macedonia', 'Turkey', 'Uzbekistan',
       'Argentina', 'Colombia', 'Germany', 'Norway', 'Australia',
       'China, Macao SAR', 'Japan', 'Denmark', 'Ireland', 'Philippines',
       'Bangladesh', 'Eritrea', 'Ethiopia', 'Lesotho', 'Nepal', 'Niger',
       'Pakistan', 'Serbia and Montenegro', 'Tunisia', 'Botswana',
       'Georgia', 'Republic of Moldova', 'Peru', 'South Africa',
       'Iceland', 'Latvia', 'Luxembourg', 'Cuba', 'Kyrgyzstan',
       'Singapore', 'Thailand', 'United Arab Emirates', 'Uruguay',
       'Armenia', 'Fiji', "Korea, Dem.Ppl's.Rep.", 'Russian Federation',
       'Swaziland', 'Zimbabwe', 'Afghanistan', 'Antigua and Barbuda',
       'Azerbaijan', 'Bahamas', 'Belize', 'Bolivia (Plur. State of)',
       'Brazil', 'Burkina Faso', 'Cameroon', 'Cayman Islands',
       'Central African Rep.', 'China', 'Comoros', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'French Guiana',
       'Germany, Fed. R. (former)', 'Greenland', 'Guatemala', 'Guinea',
       'Guyana', 'Honduras', 'Indonesia', 'Israel', 'Jamaica', 'Jersey',
       'Kazakhstan', 'Kenya', 'Kuwait', "Lao People's Dem. Rep.",
       'Liberia', 'Libya', 'Malawi', 'Malaysia', 'Maldives', 'Mauritania',
       'Mayotte', 'Morocco', 'Myanmar', 'Namibia', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niue', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
       'Slovenia', 'Solomon Islands', 'Sri Lanka', 'Sudan (former)',
       'Suriname', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Rep. of Tanzania', 'Venezuela (Bolivar. Rep.)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria', 'Curaçao',
       'Gabon', 'Malta', 'Neth. Antilles (former)', 'Sierra Leone',
       'USSR (former)', 'Barbados', 'Benin', 'Chad', 'Djibouti',
       'French Polynesia', 'Ghana', 'Grenada', 'Guadeloupe', 'Haiti',
       'Iraq', 'Kiribati', 'Madagascar', 'Mali', 'Martinique',
       'Pacific Islands (former)', 'Palau', 'St. Helena and Depend.',
       'St. Vincent-Grenadines', 'Syrian Arab Republic', 'Uganda',
       'Yemen', 'Yemen, Dem. (former)', 'Burundi', 'India', 'Mauritius',
       'Mozambique', 'Nigeria', 'Réunion', 'Rwanda', 'Samoa', 'Somalia',
       'St. Kitts-Nevis', 'Viet Nam', 'Belarus', 'Cyprus', 'Cabo Verde',
       'Albania', 'Bahrain', 'Bosnia and Herzegovina',
       'China, Hong Kong SAR', 'Czechoslovakia (former)', 'Angola',
       'Bermuda', 'Bhutan', 'Equatorial Guinea', 'Lebanon',
       'Saudi Arabia', 'St. Lucia', 'St. Pierre-Miquelon',
       'State of Palestine', 'Tajikistan', 'German Dem. R. (former)',
       'Anguilla', 'Mongolia', 'Montenegro', 'Cambodia', 'South Sudan',
       'Sudan', 'Andorra', 'Aruba', 'Bonaire, St Eustatius, Saba',
       'British Virgin Islands', 'Dominica', 'Falkland Is. (Malvinas)',
       'Gambia', 'Gibraltar', 'Qatar', 'Sint Maarten (Dutch part)',
       'Turkmenistan', 'Turks and Caicos Islands', 'Vanuatu',
       'Guinea-Bissau', 'Micronesia (Fed. States of)', 'Timor-Leste',
       'Yemen Arab Rep. (former)', 'American Samoa', 'Liechtenstein',
       'Puerto Rico', 'Cook Islands', 'Guam', 'Guernsey', 'Isle of Man',
       'Marshall Islands', 'Montserrat', 'Nauru',
       'Northern Mariana Islands', 'Tuvalu', 'United States Virgin Is.',
       'Wallis and Futuna Is.',
       'Commonwealth of Independent States (CIS)', 'Antarctic Fisheries'],
      dtype=object)

In [7]:
# Sprawdzam jakie mamy kategorie
categories = data['category'].unique()
categories

array(['additives_and_oxygenates', 'animal_waste', 'anthracite',
       'aviation_gasoline', 'bagasse', 'biodiesel', 'biogases',
       'biogasoline', 'bitumen', 'black_liquor', 'blast_furnace_gas',
       'brown_coal_briquettes', 'brown_coal', 'charcoal', 'coal_tar',
       'coke_oven_coke', 'coking_coal', 'conventional_crude_oil',
       'direct_use_of_geothermal_heat',
       'direct_use_of_solar_thermal_heat',
       'electricity_net_installed_capacity_of_electric_power_plants',
       'ethane', 'falling_water', 'fuel_oil', 'fuelwood', 'gas_coke',
       'gas_oil_diesel_oil', 'gasoline_type_jet_fuel', 'gasworks_gas',
       'geothermal', 'hard_coal', 'heat', 'hydro', 'industrial_waste',
       'kerosene_type_jet_fuel', 'lignite', 'liquified_petroleum_gas',
       'lubricants', 'motor_gasoline', 'municipal_wastes', 'naphtha',
       'natural_gas_including_lng', 'natural_gas_liquids',
       'nuclear_electricity', 'of_which_biodiesel',
       'of_which_biogasoline', 'oil_shale_oil_sands',
       'other_bituminous_coal', 'other_coal_products',
       'other_hydrocarbons', 'other_kerosene', 'other_liquid_biofuels',
       'other_oil_products_n_e_c', 'other_recovered_gases',
       'other_vegetal_material_and_residues', 'paraffin_waxes',
       'patent_fuel', 'peat', 'peat_products', 'petroleum_coke',
       'refinery_feedstocks', 'refinery_gas', 'solar_electricity',
       'sub_bituminous_coal', 'thermal_electricity',
       'tide_wave_and_ocean_electricity', 'total_electricity',
       'total_refinery_output', 'uranium',
       'white_spirit_and_special_boiling_point_industrial_spirits',
       'wind_electricity'], dtype=object)

In [8]:
# Sprawdzam w jakiej jednostce wyrażona jest każda z kategorii

category_unit = data[['unit', 'category']].drop_duplicates(subset = ['unit', 'category'])
category_unit

,unit,category
0,"Metric tons, thousand",additives_and_oxygenates
3018,Terajoules,animal_waste
4940,"Metric tons, thousand",anthracite
9834,"Metric tons, thousand",aviation_gasoline
28005,"Metric tons, thousand",bagasse
40584,"Metric tons, thousand",biodiesel
45152,Terajoules,biogases
56037,"Metric tons, thousand",biogasoline
59908,"Metric tons, thousand",bitumen
80651,Terajoules,black_liquor
84805,Terajoules,blast_furnace_gas
96768,"Metric tons, thousand",brown_coal_briquettes
102671,"Metric tons, thousand",brown_coal
122400,"Metric tons, thousand",charcoal
150400,"Metric tons, thousand",coal_tar
152645,Terajoules,coke_oven_coke
164491,"Metric tons, thousand",coking_coal
170961,"Metric tons, thousand",conventional_crude_oil
198313,Terajoules,direct_use_of_geothermal_heat
200749,Terajoules,direct_use_of_solar_thermal_heat
204398,"Kilowatts, thousand",electricity_net_installed_capacity_of_electric...
254627,"Metric tons, thousand",ethane
256641,"Kilowatt-hours, million",falling_water
257603,"Metric tons, thousand",fuel_oil
332735,"Cubic metres, thousand",fuelwood
384767,"Metric tons, thousand",gas_coke
385132,"Metric tons, thousand",gas_oil_diesel_oil
482777,"Metric tons, thousand",gasoline_type_jet_fuel
484070,Terajoules,gasworks_gas
490912,"Kilowatt-hours, million",geothermal
491408,"Metric tons, thousand",hard_coal
533715,Terajoules,heat
563371,"Kilowatt-hours, million",hydro
567115,Terajoules,industrial_waste
575674,"Metric tons, thousand",kerosene_type_jet_fuel
610232,"Metric tons, thousand",lignite
622693,"Metric tons, thousand",liquified_petroleum_gas
684849,"Metric tons, thousand",lubricants
706223,"Metric tons, thousand",motor_gasoline
759421,Terajoules,municipal_wastes
766221,"Metric tons, thousand",naphtha
782190,Terajoules,natural_gas_including_lng
846351,"Metric tons, thousand",natural_gas_liquids
854930,"Kilowatt-hours, million",nuclear_electricity
855686,"Metric tons, thousand",of_which_biodiesel
858310,"Metric tons, thousand",of_which_biogasoline
860480,"Metric tons, thousand",oil_shale_oil_sands
861236,"Metric tons, thousand",other_bituminous_coal
884374,"Metric tons, thousand",other_coal_products
884479,"Metric tons, thousand",other_hydrocarbons
886441,"Metric tons, thousand",other_kerosene
929907,"Metric tons, thousand",other_liquid_biofuels
931524,"Metric tons, thousand",other_oil_products_n_e_c
953605,Terajoules,other_recovered_gases
955710,Terajoules,other_vegetal_material_and_residues
969669,"Metric tons, thousand",paraffin_waxes
977597,"Metric tons, thousand",patent_fuel
980832,"Metric tons, thousand",peat
986145,"Metric tons, thousand",peat_products
987852,"Metric tons, thousand",petroleum_coke
1004346,"Metric tons, thousand",refinery_feedstocks
1010042,"Metric tons, thousand",refinery_gas
1025748,"Kilowatt-hours, million",solar_electricity
1026701,"Metric tons, thousand",sub_bituminous_coal
1032106,"Kilowatt-hours, million",thermal_electricity
1037595,"Kilowatt-hours, million",tide_wave_and_ocean_electricity
1037653,"Kilowatt-hours, million",total_electricity
1171569,"Metric tons, thousand",total_refinery_output
1177352,Metric Tons,uranium
1178036,"Metric tons, thousand",white_spirit_and_special_boiling_point_industr...
1188115,"Kilowatt-hours, million",wind_electricity

In [9]:
# Kategorie wyrażone w kilowatogodzinach (źródła energii - podzielone poniżej)

category_unit[category_unit['unit'].str.contains('^Kilowatt')==True]

,unit,category
204398,"Kilowatts, thousand",electricity_net_installed_capacity_of_electric...
256641,"Kilowatt-hours, million",falling_water
490912,"Kilowatt-hours, million",geothermal
563371,"Kilowatt-hours, million",hydro
854930,"Kilowatt-hours, million",nuclear_electricity
1025748,"Kilowatt-hours, million",solar_electricity
1032106,"Kilowatt-hours, million",thermal_electricity
1037595,"Kilowatt-hours, million",tide_wave_and_ocean_electricity
1037653,"Kilowatt-hours, million",total_electricity
1188115,"Kilowatt-hours, million",wind_electricity

In [10]:
# Kategorie wyrażone w tonach (to jest grupa paliw)

fuels = category_unit[category_unit['unit'].str.contains('Metric tons')==True]

fuels

,unit,category
0,"Metric tons, thousand",additives_and_oxygenates
4940,"Metric tons, thousand",anthracite
9834,"Metric tons, thousand",aviation_gasoline
28005,"Metric tons, thousand",bagasse
40584,"Metric tons, thousand",biodiesel
56037,"Metric tons, thousand",biogasoline
59908,"Metric tons, thousand",bitumen
96768,"Metric tons, thousand",brown_coal_briquettes
102671,"Metric tons, thousand",brown_coal
122400,"Metric tons, thousand",charcoal
150400,"Metric tons, thousand",coal_tar
164491,"Metric tons, thousand",coking_coal
170961,"Metric tons, thousand",conventional_crude_oil
254627,"Metric tons, thousand",ethane
257603,"Metric tons, thousand",fuel_oil
384767,"Metric tons, thousand",gas_coke
385132,"Metric tons, thousand",gas_oil_diesel_oil
482777,"Metric tons, thousand",gasoline_type_jet_fuel
491408,"Metric tons, thousand",hard_coal
575674,"Metric tons, thousand",kerosene_type_jet_fuel
610232,"Metric tons, thousand",lignite
622693,"Metric tons, thousand",liquified_petroleum_gas
684849,"Metric tons, thousand",lubricants
706223,"Metric tons, thousand",motor_gasoline
766221,"Metric tons, thousand",naphtha
846351,"Metric tons, thousand",natural_gas_liquids
855686,"Metric tons, thousand",of_which_biodiesel
858310,"Metric tons, thousand",of_which_biogasoline
860480,"Metric tons, thousand",oil_shale_oil_sands
861236,"Metric tons, thousand",other_bituminous_coal
884374,"Metric tons, thousand",other_coal_products
884479,"Metric tons, thousand",other_hydrocarbons
886441,"Metric tons, thousand",other_kerosene
929907,"Metric tons, thousand",other_liquid_biofuels
931524,"Metric tons, thousand",other_oil_products_n_e_c
969669,"Metric tons, thousand",paraffin_waxes
977597,"Metric tons, thousand",patent_fuel
980832,"Metric tons, thousand",peat
986145,"Metric tons, thousand",peat_products
987852,"Metric tons, thousand",petroleum_coke
1004346,"Metric tons, thousand",refinery_feedstocks
1010042,"Metric tons, thousand",refinery_gas
1026701,"Metric tons, thousand",sub_bituminous_coal
1171569,"Metric tons, thousand",total_refinery_output
1178036,"Metric tons, thousand",white_spirit_and_special_boiling_point_industr...

In [11]:
# Kategorie wyrażone w terajulach

category_unit[category_unit['unit'].str.contains('Terajoules')==True]

              unit                             category
3018    Terajoules                         animal_waste
45152   Terajoules                             biogases
80651   Terajoules                         black_liquor
84805   Terajoules                    blast_furnace_gas
152645  Terajoules                       coke_oven_coke
198313  Terajoules        direct_use_of_geothermal_heat
200749  Terajoules     direct_use_of_solar_thermal_heat
484070  Terajoules                         gasworks_gas
533715  Terajoules                                 heat
567115  Terajoules                     industrial_waste
759421  Terajoules                     municipal_wastes
782190  Terajoules            natural_gas_including_lng
953605  Terajoules                other_recovered_gases
955710  Terajoules  other_vegetal_material_and_residues

In [12]:
category_unit[category_unit['unit'].str.contains('Cubic metres')==True]

                          unit  category
332735  Cubic metres, thousand  fuelwood

In [13]:
category_unit[category_unit['unit'].str.contains('^Kilowatt')==True].category.unique()

array(['electricity_net_installed_capacity_of_electric_power_plants',
       'falling_water', 'geothermal', 'hydro', 'nuclear_electricity',
       'solar_electricity', 'thermal_electricity',
       'tide_wave_and_ocean_electricity', 'total_electricity',
       'wind_electricity'], dtype=object)

In [14]:
#Podział źródeł na podstawie jednostek - nas interesują kilowatogodziny

energy = ['electricity_net_installed_capacity_of_electric_power_plants',
       'falling_water', 'geothermal', 'hydro', 'nuclear_electricity',
       'solar_electricity', 'thermal_electricity',
       'tide_wave_and_ocean_electricity', 'total_electricity',
       'wind_electricity']

renewables = ['falling_water', 'geothermal', 'hydro', 
       'solar_electricity',
       'tide_wave_and_ocean_electricity',
       'wind_electricity']

nuclear = ['nuclear_electricity']

clean_energy = renewables + nuclear

fossil_energy = ['thermal_electricity'] #czyli jeśli dobrze rozumiem wszystko co z paliw kopalniach tj. węgiel, gaz itd.

In [15]:
#Podział kolumny commodity_transaction

split_commodities = data.commodity_transaction.str.split(" - | – ",  expand=True)
split_commodities.head()

                          0        1     2
0  Additives and Oxygenates  Exports  None
1  Additives and Oxygenates  Exports  None
2  Additives and Oxygenates  Exports  None
3  Additives and Oxygenates  Exports  None
4  Additives and Oxygenates  Exports  None

In [16]:
# Nadaję nazwy podzielonym kolumnom

split_commodities.columns = ["commodity","transaction_type","additional_transaction_info"]
split_commodities.head()

                  commodity transaction_type additional_transaction_info
0  Additives and Oxygenates          Exports                        None
1  Additives and Oxygenates          Exports                        None
2  Additives and Oxygenates          Exports                        None
3  Additives and Oxygenates          Exports                        None
4  Additives and Oxygenates          Exports                        None

In [17]:
# Łączę podzielone kolumny z danymi 

data = pd.concat([data, 
                split_commodities.commodity.str.lower(),
                split_commodities.transaction_type,
                split_commodities.additional_transaction_info.str.lower()], 
               axis=1)

data

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category,commodity,transaction_type,additional_transaction_info
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates,additives and oxygenates,Exports,None
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates,additives and oxygenates,Exports,None
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates,additives and oxygenates,Exports,None
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates,additives and oxygenates,Exports,None
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates,additives and oxygenates,Exports,None
...,...,...,...,...,...,...,...,...,...,...
1189477,Viet Nam,Electricity - total wind production,2012,"Kilowatt-hours, million",92.0,1.0,wind_electricity,electricity,total wind production,None
1189478,Viet Nam,Electricity - total wind production,2011,"Kilowatt-hours, million",87.0,NaN,wind_electricity,electricity,total wind production,None
1189479,Viet Nam,Electricity - total wind production,2010,"Kilowatt-hours, million",50.0,NaN,wind_electricity,electricity,total wind production,None
1189480,Viet Nam,Electricity - total wind production,2009,"Kilowatt-hours, million",10.0,NaN,wind_electricity,electricity,total wind production,None
1189481,Viet Nam,Electricity - total wind production,2008,"Kilowatt-hours, million",1.0,NaN,wind_electricity,electricity,total wind production,None

In [18]:
#Filtruję rekordy po krajach które będę analizować:
Polska = data[data['country_or_area'] == 'Poland']
Niemcy = data[data['country_or_area'] == 'Germany']
Dania = data[data['country_or_area'] == 'Denmark']
Francja = data[data['country_or_area'] == 'France']

#Wyświetlam Polskę
Polska

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category,commodity,transaction_type,additional_transaction_info
441,Poland,Additives and Oxygenates - Imports,2014,"Metric tons, thousand",79.0,NaN,additives_and_oxygenates,additives and oxygenates,Imports,None
442,Poland,Additives and Oxygenates - Imports,2013,"Metric tons, thousand",75.0,NaN,additives_and_oxygenates,additives and oxygenates,Imports,None
443,Poland,Additives and Oxygenates - Imports,2012,"Metric tons, thousand",66.0,NaN,additives_and_oxygenates,additives and oxygenates,Imports,None
444,Poland,Additives and Oxygenates - Imports,2011,"Metric tons, thousand",24.0,NaN,additives_and_oxygenates,additives and oxygenates,Imports,None
445,Poland,Additives and Oxygenates - Imports,2010,"Metric tons, thousand",52.0,NaN,additives_and_oxygenates,additives and oxygenates,Imports,None
...,...,...,...,...,...,...,...,...,...,...
1189112,Poland,Electricity - total wind production,1999,"Kilowatt-hours, million",4.0,NaN,wind_electricity,electricity,total wind production,None
1189113,Poland,Electricity - total wind production,1998,"Kilowatt-hours, million",4.0,NaN,wind_electricity,electricity,total wind production,None
1189114,Poland,Electricity - total wind production,1997,"Kilowatt-hours, million",2.0,NaN,wind_electricity,electricity,total wind production,None
1189115,Poland,Electricity - total wind production,1996,"Kilowatt-hours, million",0.0,NaN,wind_electricity,electricity,total wind production,None
1189116,Poland,Electricity - total wind production,1995,"Kilowatt-hours, million",1.0,NaN,wind_electricity,electricity,total wind production,None

In [19]:
# Na przykładzie Polski wymieniam wszystkie commodity_transaction związane z energetyką (jednostka - kilowatogodziny)
Polska[Polska.category.isin(energy)][['commodity_transaction','quantity']].groupby('commodity_transaction').sum().sort_values('quantity', ascending = False)
Polska[Polska.category.isin(energy)]['commodity_transaction'].unique()

array(['Electricity generating capacity - From other sources - Autoproducers',
       'Electricity generating capacity - From other sources - Total',
       'Electricity generating capacity - Pumped hydro - Main activity producers',
       'Electricity generating capacity - Pumped hydro - Total',
       'Electricity generating capacity - Solar PV - Autoproducers',
       'Electricity generating capacity - Solar PV - Total',
       'Electricity - net installed capacity of electric power plants, public combustible fuels',
       'Electricity - net installed capacity of electric power plants, public hydro',
       'Electricity - net installed capacity of electric power plants, public wind',
       'Electricity - net installed capacity of electric power plants, self-producer combustible fuels',
       'Electricity - net installed capacity of electric power plants, self-producer hydro',
       'Electricity - net installed capacity of electric power plants, self-producer solar',
       'Electricity - total net installed capacity of electric power plants, autoproducer',
       'Electricity - total net installed capacity of electric power plants, combustible fuels',
       'Electricity - total net installed capacity of electric power plants, hydro',
       'Electricity - total net installed capacity of electric power plants, main activity',
       'Electricity - total net installed capacity of electric power plants, main activity & autoproducer',
       'Electricity - total net installed capacity of electric power plants, solar',
       'Electricity - total net installed capacity of electric power plants, wind',
       'Falling water - total hydraulic resources',
       'Electricity - total hydro production',
       'Electricity - total solar production',
       'Electricity - total thermal production',
       'Electricity - Consumption by chemical and petrochemical',
       'Electricity - Consumption by commercial and public services',
       'Electricity - Consumption by construction',
       'Electricity - Consumption by food and tobacco',
       'Electricity - Consumption by households',
       'Electricity - Consumption by iron and steel',
       'Electricity - Consumption by machinery',
       'Electricity - Consumption by manufacturing, construction and non-fuel industry',
       'Electricity - Consumption by mining and quarrying',
       'Electricity - Consumption by non-ferrous metals',
       'Electricity - Consumption by non-metallic minerals',
       'Electricity - Consumption by other',
       'Electricity - Consumption by other manuf., const. and non-fuel ind.',
       'Electricity - Consumption by paper, pulp and print',
       'Electricity - Consumption by pipeline transport',
       'Electricity - Consumption by rail',
       'Electricity - Consumption by road',
       'Electricity - Consumption by textile and leather',
       'Electricity - Consumption by transport',
       'Electricity - Consumption by transport equipment',
       'Electricity - Consumption by wood and wood products',
       'Electricity - Consumption in agriculture, forestry and fishing',
       'Electricity - Consumption not elsewhere specified (industry)',
       'Electricity - Energy industries own use', 'Electricity - exports',
       'Electricity - Final energy consumption',
       'Electricity - Gross demand', 'Electricity - Gross production',
       'Electricity - imports', 'Electricity - Losses',
       'Electricity - net production',
       'Electricity - Other energy industry own use',
       'Electricity - Own use by briquetting plants',
       'Electricity - Own use by coal mines',
       'Electricity - Own use by coke ovens',
       'Electricity - Own use by electricity, heat and CHP plants',
       'Electricity - Own use by gas works',
       'Electricity - Own use by oil and gas extraction',
       'Electricity - Own use by oil refineries',
       'Electricity - Own use by pump-storage plants',
       'Electricity - total production, autoproducer',
       'Electricity - total production, main activity',
       'From chemical heat – Autoproducer',
       'From chemical heat – Autoproducer – CHP plants',
       'From combustible fuels – Autoproducer',
       'From combustible fuels – Autoproducer – CHP plants',
       'From combustible fuels – Autoproducer – Electricity plants',
       'From combustible fuels – Main activity',
       'From combustible fuels – Main activity – CHP plants',
       'From other sources – Autoproducer',
       'From other sources – Autoproducer – CHP plants',
       'Hydro – Autoproducer', 'Hydro – Main activity',
       'Of which: Pumped hydro – Main activity', 'Solar – Autoproducer',
       'Solar photovoltaic – Autoproducer', 'Wind – Main activity',
       'Electricity - total wind production'], dtype=object)

In [22]:
#Filtruję informacje - tylko dla Polski, tylko energia, tylko produkcja 

Polska[(Polska.category.isin(energy)) & (Polska.transaction_type.str.contains('production'))][['commodity_transaction','year','quantity']].sort_values(['year','commodity_transaction'], ascending = True)

                                 commodity_transaction  year  quantity
1106782                 Electricity - Gross production  1990  136311.0
1120150                   Electricity - net production  1990  123410.0
566105            Electricity - total hydro production  1990    3313.0
1136076   Electricity - total production, autoproducer  1990    8101.0
1141147  Electricity - total production, main activity  1990  128210.0
1036051         Electricity - total thermal production  1990  132998.0
1106781                 Electricity - Gross production  1991  134714.0
1120149                   Electricity - net production  1991  122181.0
566104            Electricity - total hydro production  1991    3411.0
1136075   Electricity - total production, autoproducer  1991    7853.0
1141146  Electricity - total production, main activity  1991  126861.0
1036050         Electricity - total thermal production  1991  131303.0
1106780                 Electricity - Gross production  1992  132750.0
1120148                   Electricity - net production  1992  120409.0
566103            Electricity - total hydro production  1992    3570.0
1136074   Electricity - total production, autoproducer  1992    8151.0
1141145  Electricity - total production, main activity  1992  124599.0
1036049         Electricity - total thermal production  1992  129180.0
1106779                 Electricity - Gross production  1993  133867.0
1120147                   Electricity - net production  1993  121554.0
566102            Electricity - total hydro production  1993    3576.0
1136073   Electricity - total production, autoproducer  1993    8527.0
1141144  Electricity - total production, main activity  1993  125340.0
1036048         Electricity - total thermal production  1993  130291.0
1106778                 Electricity - Gross production  1994  135347.0
1120146                   Electricity - net production  1994  122853.0
566101            Electricity - total hydro production  1994    3786.0
1136072   Electricity - total production, autoproducer  1994    8435.0
1141143  Electricity - total production, main activity  1994  126912.0
1036047         Electricity - total thermal production  1994  131561.0
1106777                 Electricity - Gross production  1995  139006.0
1120145                   Electricity - net production  1995  127442.0
566100            Electricity - total hydro production  1995    3851.0
1136071   Electricity - total production, autoproducer  1995    8377.0
1141142  Electricity - total production, main activity  1995  130629.0
1036046         Electricity - total thermal production  1995  135154.0
1189116            Electricity - total wind production  1995       1.0
1106776                 Electricity - Gross production  1996  143173.0
1120144                   Electricity - net production  1996  131195.0
566099            Electricity - total hydro production  1996    3910.0
1136070   Electricity - total production, autoproducer  1996    8148.0
1141141  Electricity - total production, main activity  1996  135025.0
1036045         Electricity - total thermal production  1996  139263.0
1189115            Electricity - total wind production  1996       0.0
1106775                 Electricity - Gross production  1997  142790.0
1120143                   Electricity - net production  1997  130309.0
566098            Electricity - total hydro production  1997    3816.0
1136069   Electricity - total production, autoproducer  1997    8015.0
1141140  Electricity - total production, main activity  1997  134775.0
1036044         Electricity - total thermal production  1997  138972.0
1189114            Electricity - total wind production  1997       2.0
1106774                 Electricity - Gross production  1998  142789.0
1120142                   Electricity - net production  1998  130278.0
566097            Electricity - total hydro production  1998    4327.0
1136068   Electricity - total production, autoproducer  1998    7501.0
1141139  Electricity - total production, main activity  1998  135288.0
1036043         Electricity - total thermal production  1998  138458.0
1189113            Electricity - total wind production  1998       4.0
1106773                 Electricity - Gross production  1999  142128.0
1120141                   Electricity - net production  1999  129498.0
566096            Electricity - total hydro production  1999    4282.0
1136067   Electricity - total production, autoproducer  1999    7229.0
1141138  Electricity - total production, main activity  1999  134899.0
1036042         Electricity - total thermal production  1999  137842.0
1189112            Electricity - total wind production  1999       4.0
1106772                 Electricity - Gross production  2000  145184.0
1120140                   Electricity - net production  2000  132214.0
566095            Electricity - total hydro production  2000    4116.0
1136066   Electricity - total production, autoproducer  2000    7235.0
1141137  Electricity - total production, main activity  2000  137949.0
1036041         Electricity - total thermal production  2000  141063.0
1189111            Electricity - total wind production  2000       5.0
1106771                 Electricity - Gross production  2001  145616.0
1120139                   Electricity - net production  2001  132666.0
566094            Electricity - total hydro production  2001    4220.0
1136065   Electricity - total production, autoproducer  2001    7759.0
1141136  Electricity - total production, main activity  2001  137857.0
1036040         Electricity - total thermal production  2001  141382.0
1189110            Electricity - total wind production  2001      14.0
1106770                 Electricity - Gross production  2002  144126.0
1120138                   Electricity - net production  2002  131374.0
566093            Electricity - total hydro production  2002    3906.0
1136064   Electricity - total production, autoproducer  2002    7811.0
1141135  Electricity - total production, main activity  2002  136315.0
1036039         Electricity - total thermal production  2002  140159.0
1189109            Electricity - total wind production  2002      61.0
1106769                 Electricity - Gross production  2003  151631.0
1120137                   Electricity - net production  2003  138367.0
566092            Electricity - total hydro production  2003    3293.0
1136063   Electricity - total production, autoproducer  2003    7998.0
1141134  Electricity - total production, main activity  2003  143633.0
1036038         Electricity - total thermal production  2003  148214.0
1189108            Electricity - total wind production  2003     124.0
1106768                 Electricity - Gross production  2004  154159.0
1120136                   Electricity - net production  2004  140789.0
566091            Electricity - total hydro production  2004    3691.0
1136062   Electricity - total production, autoproducer  2004    8177.0
1141133  Electricity - total production, main activity  2004  145982.0
1036037         Electricity - total thermal production  2004  150326.0
1189107            Electricity - total wind production  2004     142.0
1106767                 Electricity - Gross production  2005  156936.0
1120135                   Electricity - net production  2005  143615.0
566090            Electricity - total hydro production  2005    3778.0
1136061   Electricity - total production, autoproducer  2005    8126.0
1141132  Electricity - total production, main activity  2005  148810.0
1036036         Electricity - total thermal production  2005  153023.0
1189106            Electricity - total wind production  2005     135.0
1106766                 Electricity - Gross production  2006  161742.0
1120134                   Electricity - net production  2006  147685.0
566089            Electricity - total hydro production  2006    3020.0
1136060   Electricity - total production, autoproducer  2006    8223.0
1141131  Electricity - total production, main activity  2006  153519.0
1036035         Electricity - total thermal production  2006  158466.0
1189105            Electricity - total wind production  2006     256.0
1106765                 Electricity - Gross production  2007  159348.0
1120133                   Electricity - net production  2007  145393.0
566088            Electricity - total hydro production  2007    2939.0
1136059   Electricity - total production, autoproducer  2007    7865.0
1141130  Electricity - total production, main activity  2007  151483.0
1036034         Electricity - total thermal production  2007  155887.0
1189104            Electricity - total wind production  2007     522.0
1106764                 Electricity - Gross production  2008  155305.0
1120132                   Electricity - net production  2008  141498.0
566087            Electricity - total hydro production  2008    2747.0
1136058   Electricity - total production, autoproducer  2008    6741.0
1141129  Electricity - total production, main activity  2008  148564.0
1036033         Electricity - total thermal production  2008  151721.0
1189103            Electricity - total wind production  2008     837.0
1106763                 Electricity - Gross production  2009  151720.0
1120131                   Electricity - net production  2009  137905.0
566086            Electricity - total hydro production  2009    2974.0
1136057   Electricity - total production, autoproducer  2009    6882.0
1141128  Electricity - total production, main activity  2009  144838.0
1036032         Electricity - total thermal production  2009  147669.0
1189102            Electricity - total wind production  2009    1077.0
1106762                 Electricity - Gross production  2010  157657.0
1120130                   Electricity - net production  2010  143457.0
566085            Electricity - total hydro production  2010    3488.0
1136056   Electricity - total production, autoproducer  2010    7966.0
1141127  Electricity - total production, main activity  2010  149691.0
1036031         Electricity - total thermal production  2010  152422.0
1189101            Electricity - total wind production  2010    1664.0
1106761                 Electricity - Gross production  2011  163548.0
1120129                   Electricity - net production  2011  148913.0
566084            Electricity - total hydro production  2011    2761.0
1136055   Electricity - total production, autoproducer  2011    8342.0
1141126  Electricity - total production, main activity  2011  155206.0
1036030         Electricity - total thermal production  2011  157477.0
1189100            Electricity - total wind production  2011    3205.0
1106760                 Electricity - Gross production  2012  162139.0
1120128                   Electricity - net production  2012  147649.0
566083            Electricity - total hydro production  2012    2465.0
1136054   Electricity - total production, autoproducer  2012    8449.0
1141125  Electricity - total production, main activity  2012  153690.0
1026413           Electricity - total solar production  2012       1.0
1036029         Electricity - total thermal production  2012  154845.0
1189099            Electricity - total wind production  2012    4747.0
1106759                 Electricity - Gross production  2013  164557.0
1120127                   Electricity - net production  2013  150043.0
566082            Electricity - total hydro production  2013    2997.0
1136053   Electricity - total production, autoproducer  2013    8917.0
1141124  Electricity - total production, main activity  2013  155640.0
1026412           Electricity - total solar production  2013       1.0
1036028         Electricity - total thermal production  2013  155444.0
1189098            Electricity - total wind production  2013    6004.0
1106758                 Electricity - Gross production  2014  159059.0
1120126                   Electricity - net production  2014  145214.0
566081            Electricity - total hydro production  2014    2734.0
1136052   Electricity - total production, autoproducer  2014    8881.0
1141123  Electricity - total production, main activity  2014  150178.0
1026411           Electricity - total solar production  2014       7.0
1036027         Electricity - total thermal production  2014  148500.0
1189097            Electricity - total wind production  2014    7676.0

In [23]:
# dodatkowo dodaję kryterium roku i przypisę do nowego df

Polska_2012_energy_production = Polska[(Polska.category.isin(energy)) & (Polska.transaction_type.str.contains('production') & (Polska.year == 2012))][['commodity_transaction','year','quantity']].sort_values(['commodity_transaction','year'], ascending = True)
Polska_2012_energy_production

                                 commodity_transaction  year  quantity
1106760                 Electricity - Gross production  2012  162139.0
1120128                   Electricity - net production  2012  147649.0
566083            Electricity - total hydro production  2012    2465.0
1136054   Electricity - total production, autoproducer  2012    8449.0
1141125  Electricity - total production, main activity  2012  153690.0
1026413           Electricity - total solar production  2012       1.0
1036029         Electricity - total thermal production  2012  154845.0
1189099            Electricity - total wind production  2012    4747.0

In [31]:
# Dodaję nową kolumnę (udział procentowy danego źródła w całości wytworzonej enegrii w dnym roku)
Polska_2012_energy_production['total_share%'] = (Polska_2012_energy_production['quantity'] / 162139.0)*100
Polska_2012_energy_production.sort_values('quantity', ascending = False, inplace = True)

In [32]:
not_interesting = ['Electricity - net production', 'Electricity - total production, autoproducer', 'Electricity - total production, main activity']

In [33]:
# Usuwam te informacje które się powtarzają/nas nie interesują
Polska_2012_energy_production[~Polska_2012_energy_production['commodity_transaction'].isin(not_interesting)]

                          commodity_transaction  year  quantity  total_share%
1106760          Electricity - Gross production  2012  162139.0    100.000000
1036029  Electricity - total thermal production  2012  154845.0     95.501391
1189099     Electricity - total wind production  2012    4747.0      2.927735
566083     Electricity - total hydro production  2012    2465.0      1.520300
1026413    Electricity - total solar production  2012       1.0      0.000617